:root{
    --rouge: #cd3333;
    --bleu: #4019b6;
    --jaune: #eee25e;
    --blanc: #ffffff;
    --noir: #1e1e1e;
}


/* ------------------NAVBAR------------------ */

.Navbar{
    display: flex;
    flex-direction: row;
    padding: 3rem;
    background-color: var(--rouge);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.navbar-titre{
    text-decoration: none;
    color: var(--noir);
    font-size: 2vw;
    font-weight: bold;
    justify-content: flex-start;
    margin-left: 2vw;
}

.navbar-txt{
    text-decoration: none;
    color: var(--blanc);
}

.nav-txt{
    width: 100%;
    display: flex;
    justify-content: end;
    gap:2vw;
    margin-right: 2vw;
    
}

.nav-profil{
    display: flex;
    gap:1vw;
    align-items: center;
}

.deconnexion{
    color: var(--blanc);
    padding: 0.5rem;
   background-color: var(--rouge) !important;
   border:#ffffff !important;


    
}

/* ------BLOC-COURANT-------------- */

.body-homepage{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 0px;

}

.bloc-courant{
    background-color: #eee25e;
    width: 20%;
    height:100vh;

}

.bloc-courant h1{
    text-align: flex-start;
    padding: 1rem;
    margin-top: 10vh;
    font-size: 1.5rem;
    color: var(--noir);
}

.bloc-courant li{
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--noir);
    text-decoration: none;
}

.bloc-principal{
    width:80%;
    height:auto;
}

